VITE_LITELLM_BASE_URL=https://litellm.memfold.ai
LITELLM_API_KEY=
VITE_DEFAULT_CHAT_MODEL=gpt-4o-mini
VITE_DEFAULT_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
VITE_DEFAULT_TTS_MODEL=gpt-4o-mini-tts
VITE_ENABLE_AUTO_UPDATE=false
